/* HOJA DE ESTILO CSS */
/* Definicion del cuerpo */
body {
	margin:0;
	padding:0;
	color:white;
	background-color:gray;
	font-family: Arial, Gadget, sans-serif;
}
/* DEFINICION DE CAJA CABECERA */
.cabecera {
	height:255px;
	background-image:url(background-header.png);
	background-size:cover;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
/* TITULO DE CABECERA */
.cabecera h1 {
	font-size:4em;
	text-align:center;
	font-weight:bold;
	color:white;
}
/* TEXTO DEL MENU */
.cabecera a {
	color:white;
	text-decoration:none;
	font-size:15px;
	border-bottom:1px solid white;
	text-align:center;
}
/* EFECTO RATON SOBRE ELEMENTOS MENU */
.cabecera a:hover {
	color:black;
	background:white;
	transition:background 1s linear;
}
.cabecera .navbar {
	padding:0 !important;
}
/* MENU DESPLEGABLE */
.dropdown-menu {
	background-color:transparent !important;
	padding:0 !important;
	margin:0 !important;
	border:0 !important;
}
/* DEFINICION CAJA BARRA LATERAL IZQUIERDA */
.barralateralizq {
	background:#282828;
	color:white;
	height:100%;
	border-right:1px solid white;
}
/* ELEMENTOS BARRA LATERAL IZQUIERDA */
.barralateralizq img {
	display:block;
	color:grey;
	width:50px;
	height:50px;
	margin-bottom:6px;
	margin-left:6px;
}
/* EFECTO RATON SOBRE ELEMENTOS BARRA IZQUIERDA */
.barralateralizq a:hover {
	opacity:0.5;
}
/* DEFINICION CAJA BARRA LATERAL DERECHA */
.barralateralder {
	background:#282828;
	height:100%;
	border-left:1px solid white;
}
.barralateralder a {
	color:white;
}
/* DEFINICION CAJA CONTENIDO */
.contenido {
	padding:20px;
	color:white;
	background-color:grey;
}
/* PARRAFOS CONTENIDO */
.contenido p {
	line-height:125%;
	font-size:125%;
}
.centrar {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.carousel-item img {
	display:block;
	margin:auto;
	height:400px;
}
.jumbotron {
	color:black;
}
/* TABLA CONTENIDO */
.contenido table {
	font-size:120%;
}
/* Borde para todos los elementos de la tabla */
.contenido table, td {
	border:black 1px solid;
}
/* CABECERA DE TABLA */
.contenido th {
	color:white;
	border:white 1px solid;
	background:black;
}
.card-deck {
	color:black;
	margin-bottom:15px;
}
/* DEFINICION CAJA PIE */
.pie {
	width:100%;
	color:white;
	text-align:center;
	padding:10px; 
	background-color:black;
	border-top:1px solid white;
}